body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

section {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}
